nav.navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0;
}
nav .navbar-header { height: 70px; }
nav .navbar-header .navbar-brand {
    text-align: center;
    display: block;
    margin: 0 auto;
    float: inherit;
    width: 145px;
}
nav .navbar-header .navbar-toggle {
    float: left;
    border: none;
    left: 5%;
    top: 11px;
}

nav .navbar-collapse {
    overflow: hidden;
}

nav .navbar-header .navbar-toggle:hover { background: none; }

.flash {
    position: fixed;
    top : 20px;
    left : 20px;
    right: 20px;
    z-index: 1040;
    padding : 10px;
    color : white;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.flash.ng-hide {
    opacity : 0;
}
.errorMessages {
    background-color: #ba2124;
}
.clear {
    clear :both;
}

/** Contact view **/
.alert {
    padding: 10px;
    background-color: #be3a30;
    color: #e4e4e4;
    margin-bottom: 20px;
}
.alert.success { background-color: #22378c; }
#contact label { font-weight: normal; }
#contact label.required {
    color: #be3a30;
    font-weight: bold;
}
#contact label.day {
    margin-right: 10px;
}
#contact .captcha {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 24px;
}
#contact .captcha p { margin: 0; }
#contact button[type="submit"] {
    width: 100%;
    text-align: center;
    background-color: #be3a30;
    color: #fff;
    border: none;
    padding: 20px 10px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    color : #a5a9ac;
}

footer .socials a {
    padding : 20px 0;
}
