nav.navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0;
}
nav .navbar-header { height: 70px; }
nav .navbar-header .navbar-brand {
    text-align: center;
    display: block;
    margin: 0 auto;
    float: inherit;
    width: 145px;
}
nav .navbar-header .navbar-toggle {
    float: left;
    border: none;
    left: 5%;
    top: 11px;
}

nav .navbar-collapse {
    overflow: hidden;
}

nav .navbar-header .navbar-toggle:hover { background: none; }

.flash {
    position: fixed;
    top : 20px;
    left : 20px;
    right: 20px;
    z-index: 1040;
    padding : 10px;
    color : white;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.flash.ng-hide {
    opacity : 0;
}
.errorMessages {
    background-color: #ba2124;
}
.clear {
    clear :both;
}

/** Contact view **/
.alert {
    padding: 10px;
    background-color: #be3a30;
    color: #e4e4e4;
    margin-bottom: 20px;
}
.alert.success { background-color: #22378c; }
#contact label { font-weight: normal; }
#contact label.required {
    color: #be3a30;
    font-weight: bold;
}
#contact label.day {
    margin-right: 10px;
}
#contact .captcha {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 24px;
}
#contact .captcha p { margin: 0; }
#contact button[type="submit"] {
    width: 100%;
    text-align: center;
    background-color: #be3a30;
    color: #fff;
    border: none;
    padding: 20px 10px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    color : #a5a9ac;
}
footer .socials {
    width : auto;
    display: inline-block;
    margin : 20px auto 10px auto;
}
footer .socials a {
    text-align: center;
    width : 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    color : white;
    -webkit-transition: color 0.5s, background-color 1s; /* Safari */
    transition: background-color 0.5s, background-color 1s;

}
footer .socials a:last-child {
    margin-right: 0;

}
footer .socials a i {
    margin-top: 8px;

}
footer .socials a.socialFb {
    background-color: #3b5998;
}
footer .socials a.socialTw {
    background-color: #00C0F7;
}
footer .socials a.socialG {
    background-color: #C0361A;
}
footer .socials a.socialFb:hover {
    color: #3b5998;
}
footer .socials a.socialTw:hover {
    color: #00C0F7;
}
footer .socials a.socialG:hover {
    color: #C0361A;
}
footer .socials a:hover {
    background-color: white;
    -webkit-transition: color 0.5s, background-color 1s; /* Safari */
    transition: background-color 0.5s, background-color 1s;
}

/***** OFFRES *****/
#content {
  position: relative;
  min-height: 100px;
}