nav.navbar {
    background: #fff;
    height: 70px;
    border: 0;
    margin-bottom: 0;
}
nav .navbar-header { height: 70px; }
nav .navbar-header .navbar-brand {
    text-align: center;
    display: block;
    margin: 0 auto;
    float: inherit;
    width: 145px;
}
nav .navbar-header .navbar-toggle {
    float: left;
    border: none;
    position: relative;
    left: 5%;
    top: 11px;
}
nav .navbar-header .navbar-toggle:hover { background: none; }
nav .navbar-collapse { height: 0; }

.flash {
    position: fixed;
    top : 20px;
    left : 20px;
    right: 20px;
    z-index: 1040;
    padding : 10px;
    color : white;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.flash.ng-hide {    
    opacity : 0;
}

.errorMessages {
    background-color: #ba2124;
}

.clear {
    clear :both;
}

footer {
    text-align: center;
    color : #a5a9ac;
}

footer .socials a {
    padding : 20px 0;
}