<ng-include src="'views/fragments/navbar.html'"></ng-include>

<div class="container">
    <form>
        <div class="form-group">
            <label for="contact-first-name">Prénom</label>
            <input type="text" class="form-control" ng-model="contact.firstname" id="contact-first-name" placeholder="Votre prénom">
        </div>
        <div class="form-group">
            <label for="contact-last-name">Nom</label>
            <input type="text" class="form-control" ng-model="contact.lastname" id="contact-last-name" placeholder="Votre nom">
        </div>
        <div class="form-group">
            <label for="contact-birthday">Date de naissance</label>
            <input type="text" class="form-control" ng-model="contact.birthday" id="contact-birthday" placeholder="Votre date de naissance">
        </div>
        <div class="form-group">
            <label for="contact-mail">Email</label>
            <input type="text" required class="form-control" ng-model="contact.mail" id="contact-mail" placeholder="Votre adresse email">
        </div>
        <div class="form-group">
            <label for="contact-mobile">Mobile</label>
            <input type="number" class="form-control" ng-model="contact.mobile" id="contact-mobile" placeholder="Votre numéro de téléphone mobile">
        </div>
        <div class="radio">
            <p>Vous souhaitez être rappeler de préférence</p>
            <div>
                <label>
                    <input type="radio"> Lundi
                </label>
                <label>
                    <input type="radio"> Mardi
                </label>
                <label>
                    <input type="radio"> Mercredi
                </label>
                <label>
                    <input type="radio"> Jeudi
                </label>
                <label>
                    <input type="radio"> Vendredi
                </label>
                <label>
                    <input type="radio"> Samedi
                </label>
            </div>
            <div>
                <label>
                    <input type="radio"> Matin
                </label>
                <label>
                    <input type="radio"> Après-midi
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="contact-other">Vos demandes, remarques ou suggestions</label>
            <textarea class="form-control" ng-model="contact.other" id="contact-other"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="contact.newsletter"> J'accepte de recevoir la Lettre d'information de CFM 33 (Centre de formation Moto)
            </label>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        {{ contact | json }}
    </form>
</div>
