<div class="container">

    <h3>Nous contacter</h3>
    <b>CFM 33 (Centre de formation Moto)</b>
    <p>Adresse :</p>
    <p>
        Rue Thierry Sabine </br>
        33700 Mérignac <a href="https://www.google.fr/maps/place/Rue+Thierry+Sabine,+33700+M%C3%A9rignac/@44.842142,-0.7222299,17z/data=!3m1!4b1!4m2!3m1!1s0xd54da843d5542e1:0x2c4852453dd79d51" target="_blank">Y aller</a></br>
        <a href="tel:0557291410">Tél. : 05 57 29 14 10</a></br>
        <a href="mailto:cfm33@wanadoo.fr">E.mail : cfm33@wanadoo.fr</a>
    </p>

    <p>Horaires d'ouverture : </p>
    <p>
        <b>Eté : </b></br>
        Du lundi au vendredi de 9h à 12h et de 14h à 19h -  Le samedi de 9h00 à 12h00 et de 14h à 18h </br></br>
        <b>Hiver : </b></br>
        Du lundi au samedi de 9h à 12h30 et de 13h30 à 18h
    </p>

    <hr>

    <div class="alert" ng-class="{'success' : success}" ng-if="message">
        <p ng-repeat="msg in message">{{ msg }}</p>
    </div>

    <form id="contact" name="contact">
        <div class="form-group">
            <label class="required" for="contact-first-name">Prénom <span>*</span></label>
            <input type="text" class="form-control" ng-model="contact.firstname" id="contact-first-name" placeholder="Votre prénom" required>
        </div>
        <div class="form-group">
            <label class="required" for="contact-last-name">Nom <span>*</span></label>
            <input type="text" class="form-control" ng-model="contact.lastname" id="contact-last-name" placeholder="Votre nom" required>
        </div>
        <div class="form-group">
            <label for="contact-birthday">Date de naissance (jj/mm/aaaa)</label>
            <input type="date" class="form-control" ng-model="contact.birthday" id="contact-birthday" placeholder="Votre date de naissance">
        </div>
        <div class="form-group">
            <label class="required" for="contact-mail">Email <span>*</span></label>
            <input type="email" required class="form-control" ng-model="contact.mail" id="contact-mail" placeholder="Votre adresse email" required>
        </div>
        <div class="form-group">
            <label class="required" for="contact-mobile">Mobile <span>*</span></label>
            <input type="text" class="form-control" ng-model="contact.mobile" id="contact-mobile" placeholder="Votre numéro de téléphone mobile" required>
        </div>
        <div class="radio">
            <p>Vous souhaitez être rappeler de préférence</p>
            <div>
                <label ng-repeat="day in days" class="day">
                    <input type="radio" value="{{ day | lowercase}}" ng-model="contact.day"> {{ day }}
                </label>
            </div>
            <hr>
            <div>
                <label>
                    <input type="radio" value="matin" ng-model="contact.when"> Matin
                </label>
                <label>
                    <input type="radio" value="apres-midi" ng-model="contact.when"> Après-midi
                </label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="contact-other">Vos demandes, remarques ou suggestions</label>
            <textarea class="form-control" ng-model="contact.other" id="contact-other"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="contact.newsletter"> J'accepte de recevoir la Lettre d'information de CFM 33 (Centre de formation Moto)
            </label>
        </div>
        <div class="form-group">
            <label class="required" for="contact-captcha">Clé de validation <span>*</span></label>
            <div class="captcha"><p>{{ captcha | uppercase }}</p></div>
            <input type="text" class="form-control" ng-model="contact.captcha" id="contact-captcha" placeholder="Recopiez les caractères ci-dessus" required>
        </div>

        <button type="submit" class="btn btn-default" ng-click="send(contact)">Envoyer</button>
    </form>

</div>
