<section id="main">
	<section id="slider">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item" ng-class="{'active' : $index == 0}" ng-repeat="img in slider">
		      <img ng-src="http://www.cfm33.com/SLIDER/{{ img.name }}" alt="{{ img.title }}">
		    </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" target="_self" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" target="_self" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</section>
	<section id="questions" class="row-fluid">
		<div class="askQuestions col-md-12">
			<a ng-click="scrollQuestions()" href="" >
				Le CFM c'est une approche pédagogique personnalisée, et ça commence ici >>
			</a>
		</div>
		<div id="questionnaire" class="row-fluid">
			<form ng-model="myQuest" class="">
				<div class="step1 col-md-12" ng-show="step == 1">
					<label for="myType">Evaluez votre volume d'heures</label>
					<input type="hidden" ng-model="myQuest.myType"/>
					<ul class="myTypeChoices">
						<li ng-repeat="m in myTypeChoices">
							<a href="" ng-class="{'active' : myQuest.myType.alias == m.alias}" class="{{ m.alias }}" ng-click="changeMyType(m)"><img class="img-responsive"  ng-src="images/cfm_{{ m.alias }}.png" alt=""></a>
						</li>
					</ul>
					<p ng-bind="myQuest.myType.title"></p>
					<p ng-if="!myQuest.myType">Veuillez choisir votre niveau parmis les propositions ci-dessus.</p>
				</div>
				<div class="actions col-md-12">
					<button class="nextStep" ng-click="changeStep()">Valider</button>
					<div class="clear"></div>
				</div>
			</form>
			<div class="clear"></div>
		</div>
	</section>
	<section id="presentation" class="col-md-12">
		<div class="avisClients">
			<div>
				<a target="_blank" href="http://www.opinionsystem.fr/company_result_notice.php?company_id=178&result_key=4d90196b59c9cdb1b554a188471612de" title="Nos avis clients, 92% de satisfaction">
					<img alt="Nos avis clients" class="img-responsive" src="images/ic_nos_avis_clients.png">
				</a>
			</div>
			<iframe src="http://www.tooteclair.com/company_rating.php?company_id=178&amp;rating_key=96e0da343241f6f9c9dcbcff3619b909&amp;language=fre" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 180px; height: 22px; margin:10; z-index:2500;"></iframe>
			<h4>92% de clients satisfaits.</h4>
		</div>
		<h1>CMF, Réussite et sécurité pour tous.</h1>
		<p>Aenean non neque ut lacus viverra convallis. Cras sit amet semper metus. Vestibulum a ornare libero. Nam pellentesque ultrices pharetra. Suspendisse vel laoreet erat. Aenean gravida, lectus at semper ultricies, erat ex gravida elit, commodo tempus quam dolor et massa. Donec felis elit, consequat at lectus sed, hendrerit pellentesque urna.</p>
		<h3>92% de réussite aux examens.</h3>
		<p>Mauris at mattis orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus rhoncus est in cursus. Phasellus sodales vel ipsum eu maximus. Vestibulum eu massa vel mauris egestas fringilla. Nam ultricies ligula velit. Curabitur at laoreet nisl, non commodo leo.</p>
	</section>
	
</section>
