<div class="col-md-12">
    <strong>Votre stage permis + hébergement en 1 semaine</strong>
    <p>Vous souhaitez venir passer votre permis moto en 1 semaine sur Bordeaux, le CFM 1ère Ecole moto vous donne ses bons plans hébergement à 5 minutes de l'école.</p>

    <hr>

    <img class="col-md-12" src="http://www.cfm33.com/STOCK/teneo_1.jpg" />
    <h4>TENEO SUITES** MERIGNAC <a href="http://www.teneo.fr/residences/teneo-apparthotel-fr/merignac.html" target="_blank">( visiter le site internet)</a></h4>
    <p>Au cœur de la zone hôtélière et de l’aéroport et à 5 mn de la zone commerciale. Studio équipé de douche, kitchenette, toilettes, téléphone, télévision, internet. Pour une occupation de 1 à 6 nuitées du lundi au jeudi soir inclus.
        Suite affaire single (lit double ou lits twins), 20 m2, petit déjeuner buffet : 49,53 € HT / nuit
        Junior Suites single (31m²), petit déjeuner buffet : 63.55 € HT / la nuit
        Petit déjeuner : 6€ /personne
    </p>

    <hr>

    <img src="http://www.cfm33.com/STOCK/All_suites_hotel_2.jpg" class="col-md-12" alt="" />
    <h4>ALL SUITES APPART'HOTEL** MERIGNAC <a href="http://www.allsuites-apparthotel.com/Nos-residences/appart-hotel-merignac" target="_blank">(visiter le site internet)</a></h4>
    <p>Pour une occupation de 4 nuitées du lundi au jeudi soir inclus :
        Studette avec un petit lit de 90 cm (19m²) : 42€/la nuit
        Studio avec un grand lit de 140cm (20-25m²) :47€/ la nuit
        Petit déjeuner inclus
        <em>Tarifs hors taxe de séjour de 0.50€/nuit</em>
    </p>

    <hr>

    <h4>BRIT'HOTEL SORETEL*** MERIGNAC <a href="http://www.brithotel-soretel-merignac.fr/" target="_blank">(visiter le site internet)</a></h4>
    <p>
        Le Brit Hotel Soretel est à 2 minutes de l'aéroport de Bordeaux-Mérignac et à proximité des célèbres vignobles. Il propose des chambres confortables (salle de bains privative moderne, télévision écran plat, téléphone), climatisées et un accès Wi-Fi gratuit. (rénovation de l’établissement en 2009).
        Accueil physique 24 heures sur 24 et 7 jours sur 7, bar, restaurant français traditionnel et parking privé gratuit.
        <p>
            TARIFS POUR 1 PERSONNE :
            SOIREE ETAPE à 95€ : diner, nuit et petit dejeuner
            B&B à 85€ : nuit et petit dejeuner
            FORFAIT SEMAINE : de 320 à 400 €
        </p>
        <p>
            TARIFS POUR 2 PERSONNES :
            SOIREE ETAPE à 120€ : diner, nuit et petit dejeuner
            B&B à 95€ : nuit et petit dejeuner
            FORFAIT SEMAINE : de 350 à 460 €
        </p>
    <p>
</div>
