<div class="col-md-12">
	<h1>Offres du mois</h1>
    <p>Du 24 mars au 20 avril 2015, le CFM, 1ère école moto vous propose <strong>les formules "jusqu'à obtention" à partir de 675 €</strong></p>

    <h3>1) Permis moto forfait 20h</h3>
    <p><img src="http://www.cfm33.com/STOCK/offres_fevrier/PAGE-INTERIEUR-SITE-VISUEL-20h.jpg" class="col-ms-12" width="100%" /></p>

    <h3>2) Les formules illimitées (jusqu'à obtention)</h3>
    <p><img src="http://www.cfm33.com/STOCK/offres_fevrier/PAGE-INTERIEUR-SITE-VISUEL-confirme.jpg" class="col-ms-12" width="100%" /></p>
    <p><img src="http://www.cfm33.com/STOCK/offres_fevrier/PAGE-INTERIEUR-SITE-VISUEL-initie.jpg" class="col-ms-12" width="100%" /></p>
    <p><img src="http://www.cfm33.com/STOCK/offres_fevrier/PAGE-INTERIEUR-SITE-VISUEL-debutant.jpg" class="col-ms-12" width="100%" /></p>
    <p><img src="http://www.cfm33.com/STOCK/offres_fevrier/PAGE-INTERIEUR-SITE-VISUEL-novice.jpg" class="col-ms-12" width="100%" /></p>
</div>
