<div class="col-md-12">

    <div id="presentation">
        <h1>Pourquoi le Centre de Formation Moto est numéro 1</h1>
        <p><em>« Au CFM <small>1 ère Ecole moto</small>, on ne fait que de la moto, c'est pour cela qu'on le fait bien ! ».</em></p>

        <strong>30 ans d'expérience dans l'enseignement exclusif de la moto</strong>
        <p>Le CFM 1 ère ECOLE MOTO développe et perfectionne depuis 30 ans une méthode d'enseignement spécifique, dédiée exclusivement à la pratique sécurisée du 2 roues.</p>

	    <strong>Des Résultats</strong>
        <ul>
            <li>Près de 30 000 permis</li>
            <li>60 examens par mois depuis 30 ans</li>
            <li>92% de taux de réussite</li>
        </ul>

	    <strong>Un programme pédagogique bien rodé</strong>
        <ul>
            <li>Un concept exclusif : Les Profils Candidats (Novice - Débutant - Initié - Confirmé - Expert)</li>
            <li>L'évaluation initiale permet de déterminer votre profil afin de vous positionner dans le programme CFM de préparation aux épreuves du permis moto.</li>
            <li>A chaque profil correspond un volume horaire adapté (vous permettant de bénéficier de tarifs forfaitisés)</li>
            <li>Un coaching personnalisé ( le parcours de formation est jalonné d'examens blancs permettant d'accéder aux 3 étapes de formation qui constituent le volume de connaissance et de savoir faire indispensables à la réussite du permis)</li>
        </ul>


	    <strong>Des infrastructures et un équipement uniques en Aquitaine</strong>
        <ul>
            <li>Infrastructures routières aménagées et dédiées exclusivement à la pratique de la moto (enseignement, loisir, compétition....)</li>
            <li>Commodités de stationnement et d'accès aux pistes (sur place)</li>
            <li>Accès privilégié au circuit de Mérignac</li>
            <li>Des motos adaptées à toutes les morphologies, entretenues et renouvelées chaque année grâce à notre partenariat avec SUZUKI FACTORY</li>
        </ul>

        <strong>Des formations sur mesure</strong>
        <img src="http://www.cfm33.com/STOCK/lecole_moto_cfm/CFM-1-.jpg" class="col-md-12"/>
        <ul>
            <li>Le CFM 1 ère Ecole moto vous accompagne dans  toutes les étapes de votre apprentissage jusqu'à la réussite</li>
            <li>Un rythme adapté à vos disponibilités :</li>
            <ul>
                <li>Code dans la semaine avec CFM/Easyweb</li>
                <li>Permis accéléré en 3 jours</li>
                <li>Permis accéléré en 5 jours</li>
                <li>Formation personnalisée (2 à 6 semaines)</li>
                <li>PASS' 125 7h (sur 1 journée ou sur 2 demi journées)</li>
            </ul>
        </ul>


	    <strong>Une politique tarifaire ultra compétitive</strong>
        <p>Au CFM 1 ère Ecole moto, L'évaluation préalable du profil de chaque candidat permet de lui proposer un volume horaire adapté à ses besoins et forfaitisé !</p>
        <p>Avec le Forfait CFM, le tarif de la formation est maîtrisé !</p>
        <br>

        <img src="http://www.cfm33.com/STOCK/lecole_moto_cfm/CFM-2.jpg" class="col-xs-6"/>
        <img src="http://www.cfm33.com/STOCK/lecole_moto_cfm/CFM-3.jpg" class="col-xs-6"/>
    </div>

</div>
