<div class="col-md-12">

    <img class="col-md-12" src="http://www.cfm33.com/STOCK/carte-privilege3.jpg" />

    <h1>La Carte CFM privilège vous est offerte pour toute inscription aux formations du permis moto.</h1>
    <p>Grâce à elle, bénéficiez de nombreux avantages :</p>
    <ul>
        <li>15% de réduction sur l'équipement chez LOUIT MOTO</li>
        <li>300 € de réduction sur l'achat de votre moto</li>
        <li>2 mois gratuits d'assurance chez AXA</li>
        <li>15 % de réduction sur les stages de perfectionnement et de pilotage</li>
        <li>L'accès au Club CFM ( organisateur de rencontres, de sorties et de randonées à thèmes)</li>
    </ul>
</div>
