<div class="col-md-12">
    <h1>Au CFM, <i>1ère école Moto</i>, notre objectif est de former des futurs motards responsables et compétents.</h1>
    <p>C'est parce que le CFM se consacre depuis 30 ans à l'enseignement exclusif de la moto qu'il est en mesure de s'adapter aujourd'hui à un large public et d’allier réussite et sécurité !</p>

    <p>Nos programmes de formation vous permettront d'obtenir votre permis dans <strong>un délai de 1 à 6 semaines</strong></p>

    <hr>

    <h4>LES FORMULES CLASSIQUES</h4>
    <ul>
        <li>
            <strong>FORFAIT 15 HEURES  375€</strong>
            <p>5 heures plateau / 10 heures circulation (HS 27€)</p>
        </li>
        <li>
            <strong>FORFAIT 20 HEURES  465€</strong>
            <p>8 heures plateau / 12 heures circulation (HS 27€)</p>
        </li>
    </ul>

    <h4>LES PACKS PROFILS</h4>
    <ul>
        <li>
            <strong>CONFIRME 630€</strong>
            <p>16 heures plateau / 12 heures circulation (HS 27€)</p>
        </li>
        <li>
            <strong>INITIE  740€</strong>
            <p>20 heures plateau / 12 heures circulation (HS 27€)</p>
        </li>
        <li>
            <strong>DEBUTANT  850€</strong>
            <p>24 heures plateau / 12 heures circulation (HS 27€)</p>
        </li>
        <li>
            <strong>NOVICE  990€</strong>
            <p>32 heures plateau / 12 heures circulation (HS 27€)</p>
        </li>
    </ul>

    <strong>Les conditions de réglement au CFM 1 ère Ecole moto</strong>
    <p>Vous pouvez choisir de régler :</p>
    <ul>
        <li>En Espèces</li>
        <li>Par carte bancaire</li>
        <li>Par chèque</li>
        <li>En paiement différé (sous réserve de l'acceptation de votre dossier)</li>
    </ul>

    <em>Voir les conditions générales de vente</em>
</div>
