<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img alt="Brand" src="images/logo.jpg" height="40" />
            </a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">
            <ul class="nav navbar-nav">
                <li><a href="#/">Accueil</a></li>
                <!-- <li><a href="">L'école CFM</a></li>
                <li><a href="">Votre permis moto</a></li>
                <li><a href="#">Autres formations</a></li>
                <li><a href="#/cgv">Conditions générales de vente</a></li>
                <li><a href="#/mentions">Mentions légales</a></li> -->
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </div>

        <a href="tel:0557291410" id="clickToCall">
            <button type="button" name="button">
                <i class="fa fa-phone"></i>
            </button>
        </a>
    </div>
</nav>
